apiVersion: apps/v1
kind: Deployment
metadata:
  name: realcasuallease-deployment
  labels:
    app: realcasuallease
spec:
  replicas: 3
  selector:
    matchLabels:
      app: realcasuallease
  template:
    metadata:
      labels:
        app: realcasuallease
    spec:
      containers:
      - name: realcasuallease
        image: your-docker-image:latest
        ports:
        - containerPort: 80
